* {
	margin: 0;
	padding: 0;
}

body{
	background:#545454;
	width:100%;
}

header {
	margin: 0 auto;
	padding: 20px 40px 0px 20px;
	width: 100%;
	background: #545454;
}

nav {
	margin: 0 auto;
	width: 980px;
	background: #eee;
	font-size: 1.2em;
	font-family: Averia serif;
	font-weight: bold;
}


.clearboth {
	clear: both;
}




h1 {
	font-family: Averia serif;
	color:#f1ac00;
	font-weight: bold;
}
h2 {
	font-family: Averia serif;
	color: #8F7F14;
}

h3{
	font-family: Averia serif;
	color: #F6771E;
}

hr.emboss{
    width:80%; 
    border-top:1px solid #f1ac00; 
    border-bottom:1px solid #999; 
    margin: 0 auto;
}

p {
	padding: 10px;
	font: 1.3em helvetica, arial, sans-serif;
}

a {
	color:#555;
}
#main p a {
	color:#555;
	font-weight:bold;
	font-size: 1.5em;
}

table {
	margin: 10px;
	font: 1.5em helvetica, arial, sans-serif;
}

td {
	vertical-align: middle;
}

.pic {
	width: 200px;
}


table.find img {
	height: 50px;
}
table.exp img {
	width: 100px;
}
table  tr {
	line-height: 40px;
}

#focus {
	margin: 0 auto;
	width: 980px;
	background: #eee;
}
#main {
	margin: 0 auto;
	padding: 20px;
	width:980px;
	background: #eee;
}
.info {
	font:bold 2em Averia serif;
}


footer {
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	background: #545454;
	/*background: #F96;*/
}

